<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporting - UserLog -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Karim Amguir">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ asset('bundles/orcauserlog/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/orcauserlog/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/orcauserlog/css/font-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/orcauserlog/css/flexslider.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />


    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/orcauserlog/favicon.ico') }}">

    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>


</head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{#<script type="text/javascript">#}
    {#google.load("visualization", "1", {packages: ["corechart", 'table', 'treemap', 'gauge']});#}
    {#google.load('jquery', '1.6.0');#}
{#</script>#}
<body>
<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="color: white;margin-right: 5px">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2>BundleUserLog Dashboard</h2>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('dashboard_index') }}"><i class="icon-home icon-white"></i> Dashboard</a></li>
                <li class="active"><a href="{{ path('dashboard_connexion') }}"><i class="icon-home icon-white"></i> Connexions</a></li>
                <li class="active"><a href="{{ path('dashboard_erreur') }}"><i class="icon-home icon-white"></i> Erreurs</a></li>
                {#<li><a href="manager.html"><i class="icon-folder-open icon-white"></i> File Manager</a></li>#}

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    {% block content %}

    {% endblock %}
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
