{% extends "OrcaUserLogBundle::layout.html.twig" %}

{% block content %}
    <style>
        tbody{
            color: #000;
        }
        tbody tr {
            font-size: 12px;
        }
        .dataTables_length, .dataTables_filter, .dataTables_info{
            color: #FFF !important;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            color: #FFF !important;
        }
        tr.header
        {
            cursor:pointer;
        }
        .header .sign:after{
            content:"+";
            display:inline-block;
        }
        .header.expand .sign:after{
            content:"-";
        }
    </style>


    <br />
    <div class="row">
        <div class="col-md-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Table Actions BO</a></li>
                <li role="presentation"><a href="#Timeline_actions_BO" aria-controls="Timeline_actions_BO" role="tab" data-toggle="tab">Timeline actions BO</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="border: 1px solid #cccccc">
                <div role="tabpanel" class="tab-pane active" id="home" style="padding: 1%">
                    <div id="tabs-2">

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="fas fa-calendar-alt"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>

                        <div class="dash-unit" style="padding: 5px;">
                            <table id="example" class="display" cellspacing="0" width="100%" style="padding: 5px;">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Date</th>
                                    <th>Utilisateur</th>
                                    <th>URL</th>
                                    <th>Header</th>
                                    <th>Post</th>
                                    <th>Get</th>
                                    <th>Terminal</th>
                                    <th>Zone</th>
                                </tr>
                                </thead>
                            </table>

                </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Timeline_actions_BO">
                    <div id="main"  style="background: white;">

                        <div class="form-group col-md-4 col-md-offset-4" style="margin-top: 40px;">
                            <select name="users" id="user" class="form-control ">
                                <option selected> Veuillez choisir un utilisateur </option>
                                {% for user in users %}
                                    <option value="{{ user.userId }}">{{ user.firstName }} {{ user.lastName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div id="reportrangeTimeLine" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="fas fa-calendar-alt"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>



                        <div id="timeline">


                        </div>
                    </div>
                </div>
            </div>



{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/orcauserlog/js/highChartTheme.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
            var startTimeLine = moment().startOf('month');
            var endTimeLine = moment().endOf('month').add(1,'days');
            function toStringHeader(data) {
                var result = Object.keys(data).map(function(key,value) {
                    var child = "";
                    /*if(typeof data[key] === "object"){
                        child = toString(data[key]);
                    }else{*/
                        child = data[key];
                    //}
                    //return key+' : '+child+'<br>';
                    return '<h3 style="color: #000000;text-align: left; font-size: 18px">' + key +' </h3>'+
                            '<div>'+
                                '<p>' + child + '</p>'+
                            '</div>'
                        ;
                });
                return result
            }

            function toStringPost(data) {
                var result = Object.keys(data).map(function(key,value) {
                    var child = "";
                    if(typeof data[key] === "object"){
                        child = JSON.stringify(data[key]);
                    }else{
                        child = data[key];
                    }
                    //return key+' : '+child+'<br>';
                    return '<h3 style="color: #000000;text-align: left; font-size: 18px">' + key +' </h3>'+
                        '<div>'+
                        '<p>' + child + '</p>'+
                        '</div>'
                        ;
                });
                return result
            }
        var start = moment("{{ date_start }}");
        var end = moment("{{ date_end }}");
        var table = $('#example').DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                "url" : '{{ path('dashboard_get_bo_actions_ajax') }}?date_start=' + start.format('YYYY-MM-DD') + '&date_end=' + end.add('YYYY-MM-DD').format('YYYY-MM-DD'),
                "type" : 'POST'
            },
            "columns": [
                {"data": "id"},
                {"data": "Date"},
                {"data": "Utilisateur"},
                {"data": "URL"},
                {"data": "Header"},
                {"data": "Post"},
                {"data": "Get"},
                {"data": "Terminal"},
                {"data": "Zone"},
                {"data": "Host"},
            ],
            columnDefs: [
                {
                    targets:0,
                    visible: false,
                    searchable: false,
                },
                {
                    targets:9,
                    visible: false,
                    searchable: false,
                },
                {
                    targets:3,
                    render: function ( data, type, row) {
                        if(type === 'display'){
                            data = '<a href="http://'+ row['Host'] + row['URL'] +'">' + data.substr(0, 40) + '</a>';
                        }
                        return data;
                    }
                },
                {
                    targets:4,
                    render: function ( data, type, row) {
                        if(type === 'display'){
                            if (data !== "[]" && data!==null) {
                                $dataarr = "";
                                data = JSON.parse(data);
                                var result = toStringHeader(data);
                                da=
                                    '<a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalHeader-4-'+row['id']+'">Params</a>'+
                                    <!-- Modal -->
                                    '<div class="modal fade" id="modalHeader-4-'+row['id']+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >'+
                                    '<div class="modal-dialog modal-lg" role="document" style="width: 70%">'+
                                    '<div class="modal-content">'+
                                    '<div class="modal-header">'+
                                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                    '<h4 class="modal-title" id="myModalLabel">Paramètres du header</h4>'+
                                    '</div>'+
                                    '<div class="modal-body">'+
                                    '<div id="accordionHeader-'+ row['id'] +'">' +
                                    /*for(var i = 0; i < data.length; i++){
                                        var obj
                                    }*/
                                    result.join("") +
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>';
                            }else {
                                da = '<p> vide </p>';
                            }

                        }
                        return da;
                    }
                },

                {
                    targets:5,
                    render: function ( data, type, row) {
                        if(type === 'display'){
                            if (data !== "[]" && data!==null) {
                                data = JSON.parse(data);
                                var result = toStringPost(data);
                                dat=
                                    '<a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalPost-5-'+row['id']+'">Params</a>'+
                                    <!-- Modal -->
                                    '<div class="modal fade" id="modalPost-5-'+row['id']+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >'+
                                    '<div class="modal-dialog modal-lg" role="document" style="width: 70%">'+
                                    '<div class="modal-content">'+
                                    '<div class="modal-header">'+
                                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                    '<h4 class="modal-title" id="myModalLabel">Paramètres POST</h4>'+
                                    '</div>'+
                                    '<div class="modal-body">'+
                                    '<div id="accordionPost-'+ row['id'] + '">' +
                                    /*for(var i = 0; i < data.length; i++){
                                        var obj
                                    }*/
                                    result.join("") +
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>';
                            }else {
                                dat = "vide";
                            }

                        }
                        return dat;
                    }
                },
                {
                    targets:6,
                    render: function ( data, type, row) {
                        if(type === 'display'){
                            if (data !== "[]" && data!==null) {
                                data = JSON.parse(data);
                                var result = toStringPost(data);
                                dat=
                                    '<a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalPost-6-'+row['id']+'">Params</a>'+
                                    <!-- Modal -->
                                    '<div class="modal fade" id="modalPost-6-'+row['id']+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >'+
                                    '<div class="modal-dialog modal-lg" role="document" style="width: 70%">'+
                                    '<div class="modal-content">'+
                                    '<div class="modal-header">'+
                                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                    '<h4 class="modal-title" id="myModalLabel">Paramètres GET</h4>'+
                                    '</div>'+
                                    '<div class="modal-body">'+
                                    '<div id="accordionPost-'+ row['id'] + '">' +
                                    /*for(var i = 0; i < data.length; i++){
                                        var obj
                                    }*/
                                    result.join("") +
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>';
                            }else {
                                dat = "vide";
                            }

                        }
                        return dat;
                    }
                },
            ],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "pageLength": 15,
            "autoWidth": true,
            "order": [1,'DESC'],
//            "ColumnDefs": [
//                { "orderData": 0, "targets": [0] }
//            ],
            "bfilter":true,
            "language": {
                "sProcessing": "Traitement en cours...",
                "sSearch": "Rechercher&nbsp;:",
                "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "Pr&eacute;c&eacute;dent",
                    "sNext": "Suivant",
                    "sLast": "Dernier"
                }
            },
            "fnDrawCallback":function () {
                $( function() {
                    console.log('TDG');
                     $("[id^='accordionHeader'],[id^='accordionPost'],[id^='accordionGet'][id^='xGet']" ).accordion({
                        heightStyle: "content"
                    });
                    {#{% for action in actions %}#}
                    {#$( "#accordionHeader-{{ action.id }}" ).accordion({#}
                        {#heightStyle: "content"#}
                    {#});#}
                    {#$( "#accordionPost-{{ action.id }}" ).accordion({#}
                        {#heightStyle: "content"#}
                    {#});#}
                    {#$( "#accordionGet-{{ action.id }}" ).accordion({#}
                        {#heightStyle: "content"#}
                    {#});#}
                    {#$( "#xGet-{{ action.id }}" ).accordion({#}
                        {#heightStyle: "content",#}
                    {#});#}
                    {#{% endfor %}#}
                });
            }
        });

        $(document).ready(function() {
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });

            // Apply the search
            // table.columns().every(function () {
            //     var that = this;
            //
            //     $('input', this.footer()).on('keyup change', function () {
            //         console.log(that.search());
            //         console.log(this.value);
            //         if (that.search() !== this.value) {
            //             that
            //                 .search(this.value)
            //                 .draw();
            //         }
            //     });
            // });



        });

        $('#user').change(function (key)
        {
            console.log(startTimeLine,endTimeLine);
            var id = $('#user').val();
            var data = 'id=' + id + '&start=' + startTimeLine.format('YYYY-MM-DD') + '&end=' + endTimeLine.format('YYYY-MM-DD');

            $("#timeline").html("<h2 style='text-align: center;'>Encours de chargement...</h2>");
            $.ajax({
                type: "POST",
                data: data,
                url: "{{ path('dashboard_ajaxuseractions')}}",
                success: function (data) {
                    /*if (isEmpty(data)) {
                        $("#timeline").html("<h1>Aucune donnée trouvée pour l'utilisateur choisi !</h1>");
                    }else{*/
                        $("#timeline").html(data);
                    //}

                }
            });
        });

        $(function() {

            var start = moment("{{ date_start }}");
            var end = moment("{{ date_end }}");
            var isFirstTime = true;

            function cb(start, end) {
                $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
                if(isFirstTime){
                    isFirstTime = false;
                }
                    else
                {
                    window.location.href = '{{ path('dashboard_bo_actions') }}?date_start=' + start.format('YYYY-MM-DD') + '&date_end=' + end.add('YYYY-MM-DD').format('YYYY-MM-DD');
                }
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                locale: {
                    format: 'YYYY-MM-DD',

                    "applyLabel": "Filtrer",
                    "cancelLabel": "Annuler",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January-",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                ranges: {
                    'Aujourd\'hui': [moment(), moment()],
                    'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Dernier 7J': [moment().subtract(6, 'days'), moment()],
                    'Dernier 30J': [moment().subtract(29, 'days'), moment()],
                    'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                    'Dernier Mois': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });

        $(function() {

            var start = moment("{{ date_start }}");
            var end = moment("{{ date_end }}");
            var isFirstTime = true;

            function cbTimeLine(start, end) {
                $('#reportrangeTimeLine span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
                if(isFirstTime){
                    isFirstTime = false;
                }
                    else
                {
                    var id = $('#user').val();


                    startTimeLine = start;
                    endTimeLine = end;
                    var start = start.format('YYYY-MM-DD');
                    var end = end.format('YYYY-MM-DD');
                    var data = 'id=' + id + '&start=' + start + '&end=' + end;
                    $.ajax({
                        type: "POST",
                        data: data,
                        url: "{{ path('dashboard_ajaxuseractions')}}",
                        success: function (data) {
                            $("#timeline").html(data);
                        }
                    });
                    //window.location.href = '{#{{ path('dashboard_ajaxuseractions') }}#}?start=' + start.format('YYYY-MM-DD') + '&end=' + end.add('YYYY-MM-DD').format('YYYY-MM-DD');
                }
            }

            $('#reportrangeTimeLine').daterangepicker({
                startDate: start,
                endDate: end,
                locale: {
                    format: 'YYYY-MM-DD',

                    "applyLabel": "Filtrer",
                    "cancelLabel": "Annuler",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January-",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                ranges: {
                    'Aujourd\'hui': [moment(), moment()],
                    'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Dernier 7J': [moment().subtract(6, 'days'), moment()],
                    'Dernier 30J': [moment().subtract(29, 'days'), moment()],
                    'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                    'Dernier Mois': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cbTimeLine);

            cbTimeLine(start, end);

        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}