{% extends "OrcaUserLogBundle::layout.html.twig" %}

{% block content %}
    <style>
        tbody{
            color: #000;
        }
        .dataTables_length, .dataTables_filter, .dataTables_info{
            color: #FFF !important;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            color: #FFF !important;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <div class="dash-unit" style="padding: 5px;">
                <table id="example" class="display" cellspacing="0" width="100%" style="padding: 5px;">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Nbr connexion</th>
                        <th>Nbr Erreur</th>
                        <th>Dernière Cnx</th>
                        <th>Terminals</th>
                    </tr>
                    </thead>
                    {#<tfoot>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Nbr connexion</th>
                        <th>Nbr Erreur</th>
                        <th>Dernière Cnx</th>
                        <th>Terminals</th>
                    </tr>
                    </tfoot>#}
                    <tbody>
                    {% for connexion in connexions %}
                        <tr>
                            <td>{{ connexion.user }}</td>
                            <td>{{ connexion.nb_con }}</td>
                            <td>{{ connexion.nb_err }}</td>
                            <td>{{ connexion.last_conn }}</td>
                            <td>{{ connexion.ters }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/orcauserlog/js/highChartTheme.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "order": [1,'desc'],
                "bfilter":true,
                "language": {
                    "sProcessing": "Traitement en cours...",
                    "sSearch": "Rechercher&nbsp;:",
                    "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Pr&eacute;c&eacute;dent",
                        "sNext": "Suivant",
                        "sLast": "Dernier"
                    }
                }
            });
        } );
    </script>
{% endblock %}