{% extends "OrcaUserLogBundle::layout.html.twig" %}

{% block content %}
    <style>
        tbody {
            color: #000;
        }

        .dataTables_length, .dataTables_filter, .dataTables_info {
            color: #FFF !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            color: #FFF !important;
        }
        span[data-active="0"]{
            background: transparent;
            border-radius:10%;
            padding: 7px;
            font-size: 12px;
            cursor: pointer;
        }
        span[data-active="1"]{
            background: #cdcbcc;
            border-radius:10%;
            padding: 7px;
            font-size: 12px;
            cursor: pointer;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <div class="dash-unit" style="padding: 5px;">
                <table id="example" class="display" cellspacing="0" width="100%" style="padding: 5px;">
                    <thead>
                    <tr>
                        <th>Timer (S)</th>
                        <th><input id="timerDataTable" type="number" value="15" minlength="5"></th>
                        <th colspan="2"><span id="ResumeAutoRefresh" data-active="0">Resume auto-refresh</span></th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Host</th>
                        <th>db</th>
                        <th>Command</th>
                        <th>Time</th>
                        <th>State</th>
                        <th>Info</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Host</th>
                        <th>db</th>
                        <th>Command</th>
                        <th>Time</th>
                        <th>State</th>
                        <th>Info</th>
                    </tr>
                    </tfoot>
                    <tbody>
    {#                {% for query in data %}
                        <tr>
                            <td>{{ query.Id }}</td>
                            <td>{{ query.User }}</td>
                            <td>{{ query.Host }}</td>
                            <td>{{ query.db }}</td>
                            <td>{{ query.Command }}</td>
                            <td>{{ query.Time }}</td>
                            <td>{{ query.State }}</td>
                            {% if query.Info|length>0 %}
                                <td>
                                    {{ query.Info[:20]~'...' }}
                                    <span data-id="{{ query.Id }}" style="display: none;">{{ query.Info }}</span>
                                    <a href="#" class="ShowFullQuery" data-action="{{ query.Id }}">
                                        <img src="{{ asset('bundles/orcauserlog/images/eye.png') }}" alt=""></a>
                                </td>
                            {% else %}
                                <td>{{ query.Info }}</td>
                            {% endif %}
                        </tr>

                    {% endfor %}#}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ShowFullQueryModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Full Query</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/orcauserlog/js/highChartTheme.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        var TimerDataTable = null;//setInterval(reDrawProccesListDataTable,15000)
        var ResumeAutoRefresh = 0;
        var ProccesListDataTable = $('#example').DataTable({
            "paging": true,
            "ajax":"{{ path('dashboard_ajaxprocesslist') }}",
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": true,
            "order": [1, 'desc'],
            "bfilter": false,
            //"sAjaxDataProp": "data",
            "columns": [
                { "data": "Id" },
                { "data": "User" },
                { "data": "Host" },
                { "data": "db" },
                { "data": "Command" },
                { "data": "Time" },
                { "data": "State" },
                { "data": "Info" }
            ],
            "columnDefs": [ {
            "targets": 7,
            "data": "Info",
            "render": function ( data, type, row, meta ) {
                if(data==null || data=='')
                    return '';
                if (data.length<=20)
                    return data;
                else
                    return data.substring(0, 20)+'...<span data-id="'+ row.Id +'" style="display: none;">'+ row.Info +'</span><a href="#" class="ShowFullQuery" data-action="'+ row.Id +'"><img src="{{ asset('bundles/orcauserlog/images/eye.png') }}" alt=""></a>';
            }
        } ],
            "language": {
                "sProcessing": "Traitement en cours...",
                "sSearch": "Rechercher&nbsp;:",
                "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "Pr&eacute;c&eacute;dent",
                    "sNext": "Suivant",
                    "sLast": "Dernier"
                }
            }
        });
        $(document).ready(function () {
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });
            // Apply the search
            ProccesListDataTable.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });

                $('body').on('click','.ShowFullQuery', function () {
                    var idQuery = $(this).data('action');
                    var FullQuery = $('span[data-id="' + idQuery + '"]').text();
                    $('#ShowFullQueryModalLong .modal-body').text(FullQuery);
                    $('#ShowFullQueryModalLong').modal('show');

                });
            });
            $('#ResumeAutoRefresh').on('click',function () {
                ResumeAutoRefresh = ResumeAutoRefresh==1 ? 0 : 1;
                if(ResumeAutoRefresh==1)
                    liveTimerDataTable($('#timerDataTable').val());
                else
                    killTimerDataTable();
                $(this).attr('data-active',ResumeAutoRefresh);

            });
            $('#timerDataTable').on('change',function () {
                if($(this).val()<5){
                    $(this).val(5);
                }
                console.log($(this).val());
                killTimerDataTable();
                liveTimerDataTable($(this).val());
            })
        });
        function reDrawProccesListDataTable(){
            ProccesListDataTable.draw();
            //ProccesListDataTable.api().ajax.reload(null, false);
        }
        function killTimerDataTable() {
            clearInterval(TimerDataTable);
        }
        function liveTimerDataTable($s){
            console.log(ResumeAutoRefresh);
            if(ResumeAutoRefresh==1) {
                var $interval = $s * 1000;
                TimerDataTable = setInterval(reDrawProccesListDataTable, $interval);
            }
        }
    </script>
{% endblock %}