{% extends "OrcaUserLogBundle::layout.html.twig" %}

{% block content %}
    <style>
        tbody{
            color: #000;
        }
        .dataTables_length, .dataTables_filter, .dataTables_info{
            color: #FFF !important;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            color: #FFF !important;
        }
        tr.header
        {
            cursor:pointer;
        }
        .header .sign:after{
            content:"+";
            display:inline-block;
        }
        .header.expand .sign:after{
            content:"-";
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <div class="dash-unit" style="padding: 5px;">
                <table id="example" class="display" cellspacing="0" width="100%" style="padding: 5px;">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Nbr connexion</th>
                        <th>Dernière Cnx</th>
                        <th>Terminals</th>
                        <th>Header</th>
                        <th>Post</th>
                        <th>Get</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Nbr connexion</th>
                        <th>Dernière Cnx</th>
                        <th>Terminals</th>
                        <th>Header</th>
                        <th>Post</th>
                        <th>Get</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for connexion in connexions %}
                        {% set headerValues = connexion.header|decode %}
                        {% set postValues = connexion.postParams|decode %}
                        {% set getValues = connexion.getParams|decode %}
                        <tr>
                            <td>
                                {% if connexion.getParams != "[]" %}

                                    {% set getValues = connexion.getParams|decode %}
                                    {% if getValues is not empty %}
                                        {% for key, value in getValues %}
                                            {% if key == 'login' %}
                                                {{ value }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% set postValues = connexion.postParams|decode %}
                                    {% if postValues is not empty %}
                                        {% for key, value in postValues %}
                                            {% if key == 'login' %}
                                                {{ value }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ connexion.nb_con }}</td>
                            <td>{{ connexion.last_conn }}</td>
                            <td>{{ connexion.ters }}</td>
                            <td>
                                {% if headerValues is not empty %}
                                    <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalHeader-{{ connexion.id }}">Params</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalHeader-{{ connexion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                        <div class="modal-dialog modal-lg" role="document" style="width: 70%">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Paramètres du header</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="accordionHeader-{{ connexion.id }}">
                                                        {% for key, value in headerValues %}
                                                            {% for v in value %}
                                                                <h3 style="color: #000000;text-align: left; font-size: 18px">{{ key }}</h3>
                                                                <div>
                                                                    <p>
                                                                        {{ v }}
                                                                    </p>
                                                                </div>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    Vide
                                {% endif %}
                            </td>
                            <td>
                                {% if postValues is not empty %}
                                    <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalPost2-{{ connexion.id }}">Params</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalPost2-{{ connexion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                        <div class="modal-dialog modal-lg" role="document" style="width: 70%">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Paramètres POST</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="accordionPost-{{ connexion.id }}">
                                                        {% for key, value in postValues %}
                                                            <h3 style="color: #000000;text-align: left; font-size: 18px">{{ key }}</h3>
                                                            <div>
                                                                <p>
                                                                    {% if value is iterable %}
                                                                        {{ dump(value) }}
                                                                    {% else %}
                                                                        {{ value }}
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    Vide
                                {% endif %}
                            </td>
                            <td>
                                {% if getValues is not empty %}
                                    <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalGet-{{ connexion.id }}">Params</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalGet-{{ connexion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                        <div class="modal-dialog modal-lg" role="document" style="width: 70%">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Paramètres GET</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="accordionGet-{{ connexion.id }}">
                                                        {% for key, value in getValues %}
                                                            <h3 style="color: #000000;text-align: left; font-size: 18px">{{ key }}</h3>
                                                            <div>
                                                                <p>
                                                                    {% if value is iterable %}
                                                                        {{ dump(value) }}
                                                                    {% else %}
                                                                        {{ value }}
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    Vide
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/orcauserlog/js/highChartTheme.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        var table = $('#example').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "order": [1,'desc'],
            "bfilter":true,
            "language": {
                "sProcessing": "Traitement en cours...",
                "sSearch": "Rechercher&nbsp;:",
                "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "Pr&eacute;c&eacute;dent",
                    "sNext": "Suivant",
                    "sLast": "Dernier"
                }
            },
            "fnDrawCallback":function () {
                $( function() {
                    {% for connexion in connexions %}
                    $( "#accordionHeader-{{ connexion.id }}" ).accordion({
                        heightStyle: "content",
                    });
                    $( "#accordionPost-{{ connexion.id }}" ).accordion({
                        heightStyle: "content",
                    });
                    $( "#accordionGet-{{ connexion.id }}" ).accordion({
                        heightStyle: "content",
                    });
                    {% endfor %}
                });
            }
        });
        $(document).ready(function() {
            $('#example tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="'+title+'" />' );
            } );
            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } )});
    </script>
{% endblock %}